* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.background-header {
    background-color: #009688;
    height: 18vh;
    position: relative;
}

.background-main {
    background-color: #d8dbd5;
    height: 82vh;
    position: relative;
}

.chat-app {
    background-color: white;
    height: 82vh;
    position: relative;
    top: -10vh;
}

/* Sidebar */

.sidebar-app {
    height: 82vh;
    background-color: white;
}

.header-app {
    height: 7vh;
    background-color: #eaeaea;
}

.notification {
    height: 8vh;
    background-color: #8edafc;
}

.search-bar {
    height: 5vh;
    background-color: #fafafa;
}

.search-icon {
    width: 80px;
    background-color: white;
    padding: 10px;
    color: #b6b9bb;
    display: flex;
    justify-content: center;
}

.fa-bell-slash{
    color: #8edafc; 
}

.notifications-aLink {
    font-size: 0.8rem;
    color: #5d7494;
}

.avatar-chat { 
    width: 55px;    
    height: 55px;
    border-radius: 40px; 
}

.header-side-icons{
    color: #b1b1b1;
}

.info-chat {
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.littleFont-LightGrey {
    font-size: 13px;
    color: #b7babc;
}

.chats {
    height: 62vh;
    overflow: auto;
}


/* Chat */
.conversation {
    height: 68vh;
    overflow: auto;
    background-image: url(img/mine.jpg);
}

.nav-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #f3eeea;
    font-size: 1.8rem;
    color: #6b7376;
}

    .nav-chat i {
        cursor: pointer;
    }
    
    .centered {
        justify-content: center;
        width: 10%;
    }

    .nav-chat input {
        width: 80%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid white;
    }

.bells-icon{
    font-size: 20px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sent {
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d5f9ba;
    align-self: end;
    margin: 10px;
}

.received {
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    align-self: start;
    margin: 10px;
}


